*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.main{
height: 40vh;
width: 40vw;
background-color: rgb(229, 229, 93);
border: 2px solid rgb(239, 35, 16);
box-shadow: 9px 5px 5px rgb(234, 27, 16);
margin:auto;
margin-top: 20vh;
}
.container{
height: 20%;
width: 70%;
border: 2px solid black;
margin: auto;
margin-top: 18%;
font-size: 2.3rem;
}
button{
margin-top: 10vh;
margin-left: 16vw;
height: 5vh;
cursor: pointer;
border: 1px solid black;
transition: transform 1s ease 0.2s;
}
button:hover{
transform: rotate(7deg) scale(0.5);
}

.box{
height: 15vh;
width: 20vw;
background-color: aqua;
transform: translate(80vw ,20vh);
padding-top: 6vh;
padding-left:8vw ;
}
