*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
    background-color: yellow;
    }
    .container{
    margin-top: 30vh;
    margin-left: 10vw;
    display: flex;
    position: relative;
    }
    .line{
    width: 20vw;
    height: 0.8vh;
    background-color: gray;
    position: relative;
    transform: translate(0vw ,3vh);
    }
    h5{
    margin-left: 5px;
    }
    .fa-check{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid gray;
    padding-left: 2px;
    }
    .fa-xmark{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid gray;
        padding-left: 4px;
    }
    .btns{
    width: 30vw;
    height: 10vh;
    margin-left: 48vw;
    margin-top: 10vh;
    }
    .fa-3x{
    cursor: pointer;
    }